app-experience-card {
  display: flex;
  gap: 0.5rem;
  position: relative;
  z-index: -1;
  &::before {
    position: absolute;
    content: '';
    width: 2px;
    top: 50%;
    left: 0.75rem;
    background-color: #ccc;
    height: 100%;
  }
  &:last-of-type {
    &::before {
      content: none;
    }
  }
}
