<section class="section" [id]="id()">
  <h2 class="section__title">Sobre mi</h2>
  <p class="section__info">
    Soy un desarrollador Frontend especializado en Angular, comprometido con la creación
    de código limpio, sostenible y fácil de mantener. Con amplia experiencia en liderazgo
    de equipos y resolución de desafíos técnicos, aplico principios SOLID, además de clean
    code y optimización continua para ofrecer soluciones eficientes y escalables. Me
    apasiona analizar y resolver problemas complejos, garantizando calidad y
    sostenibilidad en cada proyecto.
  </p>
</section>
