<section [id]="id()">
  <h2 class="section__title">Artículos</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate felis id
    justo porttitor aliquam. Curabitur et risus molestie, placerat leo sed, ullamcorper
    nisl. Duis accumsan eu lorem at hendrerit. Etiam sed tempus felis. Integer et ligula
    aliquam, posuere augue a, pretium lorem. Proin pharetra, nulla sed tincidunt
    dignissim, nisi lacus mattis risus, nec aliquet ex leo accumsan sapien. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum auctor lectus sed dolor commodo venenatis. Mauris eleifend libero nec ex
    sagittis, non elementum risus scelerisque. Aliquam eu turpis lacinia, vehicula libero
    a, tincidunt massa. Phasellus ac nulla dapibus, iaculis est pharetra, commodo sem. In
    sed quam sem. Ut mauris ligula, condimentum nec lacinia ut, euismod bibendum libero.
    Ut eu orci a diam ullamcorper bibendum id eget turpis. Duis ornare orci eu tortor
    tincidunt consequat. Vestibulum ac diam blandit enim feugiat consectetur. Vestibulum
    eget metus quis tortor ullamcorper ultrices. Nulla facilisi. Praesent tristique,
    libero nec molestie accumsan, mi nibh eleifend est, eu congue enim nisl ac lectus.
    Curabitur a eros semper, varius mi vitae, gravida nulla. Proin aliquet sagittis nisi
    et mattis. Integer sed elit a nunc rhoncus tempor eu nec arcu. Nam laoreet sit amet
    nisl vitae porttitor. Nunc sit amet est turpis. Nam libero leo, volutpat ut lectus sit
    amet, mattis vestibulum justo. Fusce consectetur vitae orci ut tristique. Nulla sed
    viverra mauris, non eleifend nisi. Etiam euismod tempus dolor vitae finibus. Fusce
    posuere neque vel lectus molestie fermentum. Duis iaculis nec mi a laoreet. Ut
    suscipit rhoncus velit, a dapibus sapien mattis luctus. In sit amet lectus eu eros
    porttitor dapibus. Suspendisse et dolor ut quam accumsan posuere. Suspendisse bibendum
    tortor ipsum, et semper quam suscipit ac. Donec in sem pellentesque, elementum elit
    eget, sagittis justo. Proin vel arcu dui. Nam accumsan faucibus sapien. Sed blandit
    augue vitae quam fermentum blandit. Sed tempus augue diam, vitae iaculis ex suscipit
    nec. Duis pulvinar, turpis a sagittis suscipit, urna metus pellentesque lectus, eu
    condimentum justo risus eu elit. Vestibulum nec laoreet nisl. Phasellus vitae elit
    nunc. In eu dapibus ipsum. Etiam vel augue vitae felis maximus fringilla. Pellentesque
    hendrerit ornare velit sit amet blandit. Vivamus ut turpis malesuada, pretium dolor
    non, consectetur erat. Nam lectus turpis, fringilla fermentum semper in, fermentum
    mattis nibh. Fusce cursus quam eu posuere congue. Pellentesque laoreet leo id volutpat
    auctor. Suspendisse faucibus ante euismod tristique ornare. Integer non lorem
    bibendum, cursus erat id, tempus ex. Morbi egestas orci a commodo condimentum.
    Suspendisse purus mi, elementum vitae felis ut, interdum sollicitudin arcu. Sed
    pellentesque ligula quis dapibus consequat. Nullam ut aliquam ligula. In congue lacus
    at erat ultrices gravida. Nulla volutpat purus vitae est tempus, ut suscipit lectus
    ornare.
  </p>
</section>
