:host {
  background-color: white;
  position: sticky;
  display: block;
  top: 0;
}
.navigation {
  border-bottom: solid 1px #d4dbe8;
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &-element {
      cursor: pointer;
      white-space: nowrap;
      padding: 0.5rem 0.25rem;
      &:first-of-type {
        padding: 0.5rem 0;
      }
      &.rounded-border-bottom {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 3px;
          background: linear-gradient(90deg, #9b27ff, #ff4bcd);
          border-radius: 10px 10px 10px 10px;
          transition: width 0.2s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
      &--link {
        color: inherit;
        text-decoration: none;
        padding: 0.5rem 0.25rem;
        &:first-of-type {
          padding: 0.5rem 0;
        }
      }
    }
  }
}
